<% include ../partials/header %>

<div class="container" >
	<div>
		<h1 style="text-align:center">
			new comment on <%= camp.location %>
		</h1>
	</div>
	
	<div style="width:30% ;margin: 25px auto;">
		
		<form action="/landpage/<%= camp._id %>/comments" method="POST">
		
	<div class="form-group">
		<label>Comment</label>
		<input  class="form-control"type="text" placeholder = "Comment" name="comment[text]">
	
		
	</div>

		<div class="form-group">
		
	<button class="btn btn-primary btn-block" type="submit" >
		add comment
	</button>
		
	</div>
		
		
	
</form>
		
	</div>
	
	

	
	
</div>






<% include ../partials/footer %>