<% include partials/header %>

	<div class="container">
	
	<div class="jumbotron">
		<h1 class="display-4">
	Welcome to landpage
</h1>
		<p>
			see the campground all over the world
		</p>
		<a class="btn btn-info btn-lg" href="/landpage/newlandpage">Add new campground</a>
		
	</div>
		
		
	<h1>
	Welcome to home page
</h1>





<a href = "/landpage">LandPage</a>
		
		
		</div>


<% include partials/footer %>